@model StudentLinkUp_MVC_.Meeting

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meetingLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LearningMaterial.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearningMaterial.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile1.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.meetingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
