<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student LinkUp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!SignInManager.isEmpty())
                {
                    @Html.ActionLink("Student LinkUp", "Index", "LearningMaterials", new { area = "" }, new { @class = "navbar-brand" });
                        }
                else
                {
                    @Html.ActionLink("Student LinkUp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" });
                            }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (SignInManager.signedIn.Count == 0)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Meetings", "Index", "Meetings")</li>
                        <li>@Html.ActionLink("Receipts", "Index", "Receipts")</li>
                        //<li>@Html.ActionLink("Complaints", "Create", "Reviews")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/>
        <div class="search-container" align="right">
            @using (@Html.BeginForm("Index", "LearningMaterials", FormMethod.Get))
            {
                @Html.TextBox("searchString");
                <input type="submit" value="Search" />
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Student LinkUp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
