@using StudentLinkUp_MVC_.Models
@model UserProfile
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>
@using (Html.BeginForm("LogIn", "LogIn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="login-container">
        <section class="login-secction">
            <p>
                @Html.LabelFor(model => model.username)
                <div>
                    @Html.EditorFor(model => model.username)
                </div>
            </p>
            <br />
            <p>
                @Html.LabelFor(model => model.userPassword)
                <div>
                    @Html.Password("Password");
                </div>
            </p>
            <br />
            <input type="submit" value="Log in" class="btn btn-default" />
        </section>
        <p>
            @Html.ActionLink("Register as a new user", "Create")
        </p>
    </div>
}
